.button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    padding: 12px 18px;
    color: #111;
    background: #ffffff;
    border: 1px solid #fed5a6;
}

svg {
    margin-right: 12px;
}

.button:hover {
    cursor: pointer;
    background: #fed5a6;
    border: 1px solid #FF6600;
}